<ion-header>
  <ion-toolbar>
    <ion-title>
      Tea
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let teaType of teaTypes; index as i">
        <ion-button expand="full" (click)="placeOrder(i)">
          {{i + 1}}. {{teaType.name}}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card style="text-align: center;">
    <ion-label>Total Votes: {{tea.length}}</ion-label>

    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="6">
          <ion-label>Tea Count: {{teaCount}}</ion-label>
        </ion-col>
        <ion-col size="6">
          <ion-label>Milk Tea Count: {{milkTeaCount}}</ion-label>
        </ion-col>
        <ion-col size="6">
          <ion-label>Coffee Count: {{coffeeCount}}</ion-label>
        </ion-col>
        <ion-col size="6">
          <ion-label>Milk Coffee Count: {{milkCoffeeCount}}</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <!-- <ion-item *ngFor="let item of tea; index as i" lines="none">
    <p>
      {{i+1}}. {{item.name}} - {{teaTypes[item.teaType].name}}
    </p>
  </ion-item> -->


</ion-content>